html, body {
 // overflow: hidden;
}

body { 
	//background-image: url("../img/hero-bg.ab892529.png");
}

#footer {
	background-image: url("../img/footer-bg.b5d6fb5f.png");
	height: 200px;
}

.zombie-left {
	height: 100px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.zombie-right {
	height: 100px;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.application--wrap {
	background-image: url("../img/hero-bg.ab892529.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

.v-btn--icon{
	width: 100px;
}

#nav-bar {
    background-color: rgba(0,100,0,0.4);
}

#mobile-logo {
	width: 100px;
	position: absolute;
	z-index: 1;
}

#desktop-logo {
	display: none;
	width: 200px;
	z-index: 1;
	position: absolute;
}

#title {
	color: #00e365;	
	font-size: 2em;
    text-shadow: 1px -1px #000;
    text-align: center;
    padding: 5px;
}

#eth-img{
	display: block;
	margin: auto;
	width: 40%;
}

#table-wrapper {
	background-color: rgba(220,220,220,0.8);
}

/*
#container {
	max-height: 850px;
	overflow-y: scroll;
}*/


#footer-image{
	width: 100%;
	height: 100px;
}

.show-zombie {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	animation-name: overlaya;
	animation-duration: 1s;
	animation-iteration-count:1;
}

.show-zombie {
	position: absolute;
	top: 0;
	width: 100px;
	height: 100px;
}

.hide-zombie {
	display: none;
}

#zombie-1 {
	width: 30px;
	max-width: 600px;
	width: 100px;
	-webkit-animation-name: zombiea; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
	animation-name: zombiea;
	animation-duration: 0.5s;
	animation-iteration-count:1;
}

tr {
	cursor: -webkit-grab; 
	cursor: grab;
}

@keyframes zombiea {
  0%   {width: 30px; }
  100% {width: 600px; }
}


@keyframes overlaya {
  0%   {display: block; opacity: 1 }
  100% {display: block; opacity: 1}
}


@media (min-width: 721px) {
  #mobile-logo {
    display: none;
  }
  #desktop-logo {
    display: block;
  }
  #container {
  	margin-top: 20px;
  }
  #title {
  	font-size: 2.5em;
  }
  .zombie-left {
	height: 150px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.zombie-right {
	height: 150px;
	float: right;
	margin-left: 15px;
	margin-right: 15px;
}
}

