<!DOCTYPE html>
<html>
<head>
	<title>Zombie Battleground Leaderboard</title>

	<meta charset="utf-8">
	<meta name="description" content="Zombie Battleground Leaderboard for Zombie Battleground CCG/TCG. Follow your rank and climb to the top">
	<meta property="og:title" content="Zombie Battleground Leaderboard">
	<meta property="og:description" content="Zombie Battleground Leaderboard for Zombie Battleground CCG/TCG. Follow your rank, and climb to the top">
	<link rel="icon" href="images/Spinner_Inner.eaa3c073.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  	 <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<link rel="stylesheet"  href="css/styles.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115649169-5"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-115649169-5');
	</script>

</head>
<body>

<div id="app">
	<v-app id="inspire" dark>
	  	<v-layout id="nav-bar" row wrap>
	  		<v-flex @mouseover="show_zombies"  xs2>
	  			<img id="mobile-logo" src="img/Spinner_Inner.eaa3c073.png">
	  			<img id="desktop-logo" src="img/ZB_Logo_960x640.png">
	  		</v-flex>
	  		<v-flex xs8>
	  			<h1 id="title">Zombie Battleground Ranking</h1>
	  		</v-flex>
	  	</v-layout>
		<v-container id="container" grid-list-md text-xs-center>
			<v-layout row wrap>
				 <v-flex xs12 lg9>
	          		<v-card dark>
	          			<v-card-title>
				        	Player ID
					        <v-spacer></v-spacer>
					        <v-text-field
					          v-model="search"
					          append-icon="search"
					          label="Search"
					          single-line
					          hide-details
					        ></v-text-field>
					     </v-card-title>
						<template>
						  <v-data-table
						    :headers="table_positions_headers"
						    :items="table_positions_body"
						    :rows-per-page-items="rows_per_page_items"
						    :rows-per-page="25"
						    :pagination.sync="pagination"
						    :dark="true"
						    :search="search"
						    class="elevation-1"
						    :loading="loading"
						  >
						  	 <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
						    <template slot="items" slot-scope="props">
						      <tr v-on:click="select_player(props.item.player_id)">
							      <td>{{ props.item.ranking }}</td>
							      <td class="text-xs-left">{{ filter_name(props.item.player_id) }}</td>
							      <td>{{ props.item.games }}</td>
							      <td>{{ props.item.wins }}</td>
							      <td>{{ props.item.losses }}</td>
							      <td>{{ props.item.win_ratio }}</td>
							      <td>{{ props.item.points }}</td>
							      <td>      	
								      <v-progress-circular 
								        :value="props.item.percentage_for_next_level"
								        color="#00e365"
								      >
								        <div>{{ props.item.level }}</div>
								      </v-progress-circular>	
							      	</td>
							      <td>{{ props.item.streak }}</td>
						      </tr>
						    </template>
						  </v-data-table>
						</template>
					</v-card>
				</v-flex>
				<v-flex xs12 lg3>
				 	<v-expansion-panel
				        :dark="true"
				 		:popout="true"	
				 		v-model="panel"
				 		expand
				 	>
				      <v-expansion-panel-content
				        v-for="(item) in lateral_panel"
				        
				      >
				        <div slot="header">{{item.title}}</div>
				        <v-card>
				          <v-card-text v-html="item.text"></v-card-text>
				        </v-card>
				      </v-expansion-panel-content>
				    </v-expansion-panel>
				</v-flex>
			</v-layout>
		</v-container>
		<div id="footer">
			<div><img id="footer-divider" src="img/divider-top.a4b28a6f.png"></div>
			<div><img class="zombie-left" src="img/zombie4.86c2312b.png"></div>
			<div><img class="zombie-left" src="img/zombie2.9a9d0535.png"></div>
			<div><img class="zombie-right" src="img/zombie1.33bf3866.png"></div>
			<div><img class="zombie-right" src="img/zombie3.de6680d4.png"></div>
			<div id="overlay" v-bind:class="zombie_class">
				<img id="zombie-1" src="img/zombie5.7b769731.png">
			</div>
    	</div>
	</v-app>
	<!--
	<div class="row">
		<div id="table-wrapper" class="col-md-offset-1 col-sm-12 col-md-10">
			<h1>Matches</h1>
			<common-list v-bind:lists="players"></common-list>
			
		</div>
	</div>
	-->
	
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<script type="text/javascript">

	Vue.component('common-list',{
		props: ['lists'],
		template: 	`<table class="table table-striped">
						<thead>
							<tr>
								<th>Ranking</th>
								<th>Player ID</th>
								<th>Games</th>
								<th>Wins</th>
								<th>Losses</th>
								<th>Win Ratio</th>
								<th>Points</th>
								<th>Level</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, key) in lists">
								<td>{{item.ranking}}</td>
								<td>{{key}}</td>
								<td>{{item.games}}</td>
								<td>{{item.wins}}</td>
								<td>{{item.losses}}</td>
								<td>{{item.win_ratio}}</td>
								<td>{{item.points}}</td>
								<td>{{item.level}}</td>
								<td>{{item.streak}}</td>
							</tr>
						</tbody>
					</table>`,
	});

	var urlMatches = 'https://api.loom.games/zb/v1/matches';
	var urlMatches_p1 = 'https://api.loom.games/zb/v1/matches?player1_id=';	
	var urlMatches_p2 = 'https://api.loom.games/zb/v1/matches?player2_id=';	
	
	new Vue({
		el:'#app',
		created: function(){
			this.get_total_of_matches()
				.then(response=>{
					console.log('hello');
					this.get_all_f_matches();		
							Promise.all(this.array_of_promises).then(response=>{
									this.matches = this.sort_matches(this.matches);
									this.filter_winners();
									this.sort_and_rank_players();
									this.loading=false;

									
							})
						
						.catch(error=>{console.log(error);})
				.catch(error=>{console.log(error);});
			});
			
			/*.then(function(){
					console.log(this.matches);
				});
			*/
			//this.get_matches();
			
		},
		data: {
			matches: [],
			players: {},
			players_sorted: [],
			total_matches: 0,
			page: "1",
			limit: "100",
			search:'',	
			points_avg_per_game: 30, // this is fixed and arbitrary (before many math)
			levels: [ //use an array
				{level: 1, points_needed: 0},
				{level: 2, points_needed: 30},
				{level: 3, points_needed: 90},
				{level: 4, points_needed: 150},
				{level: 5, points_needed: 240},
				{level: 6, points_needed: 390},
				{level: 7, points_needed: 630},
				{level: 8, points_needed: 1020},
				{level: 9, points_needed: 1650},
				{level: 10, points_needed: 2670},
				{level: 11, points_needed: 4320},
				{level: 12, points_needed: 6990},
				{level: 13, points_needed: 11310},
				{level: 14, points_needed: 18300},
				{level: 15, points_needed: 29610},
				{level: 16, points_needed: 47910},
				{level: 17, points_needed: 77520},
				{level: 18, points_needed: 125430},
				{level: 19, points_needed: 202950},
				{level: 20, points_needed: 328380},
				{level: 21, points_needed: 531330},
				{level: 22, points_needed: 859710},
				{level: 23, points_needed: 1391040},
				{level: 24, points_needed: 2250750},
				{level: 25, points_needed: 3641790},
				{level: 26, points_needed: 5892540},
				{level: 27, points_needed: 9534330},
				{level: 28, points_needed: 15426870},
				{level: 29, points_needed: 24961200},
				{level: 30, points_needed: 40388070}

			],
			array_of_promises: [],
	        table_positions_headers: [
	          /*
	          {
	            text: 'Dessert (100g serving)',
	            align: 'left',
	            sortable: false,
	            value: 'name'
	          },*/
	          { text: 'Ranking', value: 'ranking', align: 'center'},
	          { text: 'Player ID', value: 'player_id', align: 'left' },
	          { text: 'Games', value: 'games', align: 'center' },
	          { text: 'Wins', value: 'wins', align: 'center' },
	          { text: 'Losses', value: 'losses', align: 'center' },
	          { text: 'Win Ratio', value: 'win_ratio', align: 'center' },
	          { text: 'Points', value: 'points', align: 'center' },
	          { text: 'Level', value: 'level', align: 'center' },
	          { text: 'Streak', value: 'streak', align: 'center' }
	        ],
	        rows_per_page_items: [5,10,25,50],
	        pagination: {
	        	rowsPerPage: 10,
        		sortBy: 'points',
        		descending: true
      		},
      		loading: true,
      		player_id_selected: '',
      		panel: [false, false, false],
      		lateral_panel: {
      			buy_me_a_beer: {
      				title: 'Buy me a beer', text:'<div class="layout row wrap"><div class="flex xs12 text-xs-center" class="flex xs12 text-xs-center"><p>ETH deposit address</p></div><div class="flex xs12"><img id="eth-img" src="img/descarga.png"></div><div class="flex xs12 text-xs-center"><p>0x14b9fe9fc6b5141868991909cdfe600a0b0f6c38</p></div></div>'},
      			point_system: { title: 'Point System', text:'<div class="layout row wrap"><div class="flex xs8"><p>...</p><p>win vs +2 level</p><p>win vs +1 level</p><p><strong>win vs same level</strong></p><p>win vs -1 level</p><p>win vs -2 level</p><p>...</p></div><div class="flex xs4"><p>...</p><p>32 points</p><p>31 points</p><p><strong>30 points</strong><p>29 points</p><p>28 points</p><p>...</p></div></div>'},
      			player_history: {title: "Player History", text: "No player selected"},
      		},
      		vs_matches: [],
      		zombie_class: 'hide-zombie'

		},
		computed: {
			string_page: function(){
				return '?page='+this.page;
			},
			string_limit: function(){
				return '?limit='+this.limit;
			},
			total_pages:function(){
				return Math.floor(this.total_matches/this.limit)+1;
			},
			table_positions_body: function(){
				let tpb = [];
				//for (let key in this.players_sorted) {
				for (let key in this.players) {
  					//console.log(key, this.players[key].wins);
  					let player = { player_id: key,
  								   ranking: this.players[key].ranking,
  								   games: this.players[key].games,
  								   wins: this.players[key].wins,
  								   losses: this.players[key].losses,
  								   win_ratio: this.players[key].win_ratio,
  								   points: this.players[key].points,
  								   level: this.players[key].level,
  								   streak: this.players[key].streak,
  								   percentage_for_next_level: this.players[key].percentage_for_next_level,
  								}
  					tpb.push(player);
				}
				return tpb;
			},

		},
		
		methods: {
			get_total_of_matches: function(){
				return new Promise((resolve, reject) => {
					//pick only one to get the total
					axios.get(urlMatches+'?id=2000').then(response =>{					
						this.total_matches = response.data.total;
						//return new Promise((resolve, reject) => {
		        			resolve('todo ok');
		  				//});
					});
				});
			},
			get_all_f_matches: function(){
				return new Promise((resolve, reject) => {
					this.array_of_promises = [];
					for (let page = 1; page <= this.total_pages; page++) {
						this.page= page;
						this.array_of_promises.push(this.get_matches());
						//this.get_matches().then(response=>{console.log('todo ok')}).catch(error=>{console.log('todom')});
					}
					//console.log(this.matches.length);
		        	//resolve('todo ok');
		        	return  Promise.all(this.array_of_promises);
				});
			},
			get_matches: function(){
				let array_aux =[];
				return new Promise((resolve, reject) => {
					axios.get(urlMatches+this.string_page).then(response =>{
						array_aux = this.matches;
						this.matches =array_aux.concat(response.data.matches);
		        		resolve('todo ok');
					}).catch(error=>{
						reject('todo mal :S');
					});
				});
			},
			filter_winners: function(){
				//console.log(this.matches.length);
				for (let i = 0; i < this.matches.length; i++) {
					if (this.matches[i].player1_accepted==true && this.matches[i].player2_accepted ==true && this.matches[i].status == 'Ended'){
						this.add_player(this.matches[i].player1_id);
						this.add_player(this.matches[i].player2_id);
						if (this.matches[i].winner_id==this.matches[i].player1_id){
							this.add_player_win(this.matches[i].player1_id); 
							this.add_player_loss(this.matches[i].player2_id);
							this.add_player_points(this.matches[i].player1_id,this.matches[i].player2_id);
							this.update_player_level_and_next(this.matches[i].player1_id); 
						}
						 else {
						//	console.log('gana 2');
							this.add_player_win(this.matches[i].player2_id);
							this.add_player_loss(this.matches[i].player1_id);
							this.add_player_points(this.matches[i].player2_id,this.matches[i].player1_id);
							this.update_player_level_and_next(this.matches[i].player2_id); 
						}
					}
				}
				
			},
			add_player_win:function(player_id){
				this.players[player_id].wins++;
				this.players[player_id].games++;
				this.players[player_id].win_ratio = ((this.players[player_id].wins / this.players[player_id].games)*100).toFixed(2);  
				if(this.players[player_id].streak>=0){
					this.players[player_id].streak++;
				} else {
					this.players[player_id].streak = 1;
				}
			},
			add_player_loss:function(player_id){
				//if (this.players[player_id] !== undefined){ // deprecated
					this.players[player_id].losses++;
					this.players[player_id].games++;
					this.players[player_id].win_ratio = ((this.players[player_id].wins / this.players[player_id].games)*100).toFixed(2);  
					if(this.players[player_id].streak<=0){
						this.players[player_id].streak--;
					} else {
						this.players[player_id].streak = -1;
					}
					//console.log(this.players[player_id].streak);

				/*
				} else {
					Vue.set(this.players, player_id, {wins: 0, losses: 1, games:1, win_ratio:0});
					//this.players[player_id] = {wins: 0, losses: 1};
				}*/
			}, 
			add_player: function(player_id){
				if (this.players[player_id] === undefined){
					Vue.set(this.players, player_id, {player_id: player_id, ranking:0, wins: 0, losses: 0, games:0, win_ratio:0, points:0, level: 0, streak:0, percentage_for_next_level:0});
				}
			},
			add_player_points: function(winner_id,losser_id){
				//=$L$1-($M2-N$1)
				let points_won = this.points_avg_per_game -(this.get_player_level(winner_id)-this.get_player_level(losser_id));
				this.players[winner_id].points+=points_won;
			},
			get_player_level: function(player_id){
				let user_level = 0;
				if (this.players[player_id] !== undefined){
					user_level = this.players[player_id].level;
				}
				return user_level; 
			},
			get_player_points: function(player_id){
				let user_points = 0;
				if (this.players[player_id] !== undefined){
					user_points = this.players[player_id].level;
				}	
				return user_points;
			},
			update_player_level_and_next:function(player_id){
				let new_level = 0;
				let new_level_points = 0;
				let next_level_points = 0;
				for (let i = 0 ; i<=this.levels.length; i++) {
					if(this.players[player_id].points < this.levels[i].points_needed){
						new_level = this.levels[i].level - 1;
						new_level_points = this.levels[i-1].points_needed;
						next_level_points = this.levels[i].points_needed;
						this.players[player_id].percentage_for_next_level = Math.floor((this.players[player_id].points - new_level_points)/(next_level_points - new_level_points)*100);
						this.players[player_id].level = new_level;
						break;
					}
				}
			},
			select_player: function(player_id){
				this.player_id_selected = player_id;
				this.get_all_player_matches();
				//console.log(player_id);
			},
			get_all_player_matches: function(){
				this.vs_matches = [];
				//the api only givme in chunks of 100 ..
				//this.get_player_x_matches(urlMatches_p1,this.player_id_selected,1).then(response=>{ 
					//this.get_player_x_matches(urlMatches_p2,this.player_id_selected,2).then(response=>{
						this.get_player_matches(this.player_id_selected);
						this.vs_matches = this.sort_player_matches(this.vs_matches);
						this.update_player_history();
						this.panel = [false,false,true];
					//});
				//});
			},
			get_player_matches: function(player_id){
				return new Promise((resolve, reject) => {
					//pick only one to get the total
						let matches = this.matches;
						for (let i = matches.length - 1; i >= 0; i--) {
							if (matches[i].status == 'Ended'){
								if (player_id==matches[i].player1_id){
									let match = {};
									if (matches[i].winner_id == matches[i].player1_id){ // win
										match = {
											match_id: matches[i].id, 
											created_at: matches[i].created_at,
											date: matches[i].created_at,
											vs: matches[i].player2_id,
											result: 1
										};
									} else { // loss
										match = {
											match_id: matches[i].id, 
											created_at: matches[i].created_at,
											date: matches[i].created_at,
											vs: matches[i].player2_id,
											result: 0
										};
									}
									this.vs_matches.push(match);
								} else if  (player_id==matches[i].player2_id){
									let match = {};
									if (matches[i].winner_id == matches[i].player2_id){ // win
										match = {
											match_id: matches[i].id, 
											created_at: matches[i].created_at,
											date: matches[i].created_at,
											vs: matches[i].player1_id,
											result: 1
										};
									} else { // loss
										match = {
											match_id: matches[i].id, 
											created_at: matches[i].created_at,
											date: matches[i].created_at,
											vs: matches[i].player1_id,
											result: 0
										};
									}
									this.vs_matches.push(match);
								}
							}
						}		
		        		resolve('todo ok');
				});
			},
			sort_matches: function(arr) {
		      // Set slice() to avoid to generate an infinite loop!
		      return arr.slice().sort(function(a, b) {
		        return a.id - b.id;
		      });
		    	
		    },
			sort_player_matches: function(arr) {
		      // Set slice() to avoid to generate an infinite loop!
		      return arr.slice().sort(function(a, b) {
		        return a.match_id - b.match_id;
		      });
		    	
		    },

		    sort_and_rank_players:  function() {
          		this.players_sorted = _.sortBy(this.players, 'points').reverse();
   	    		
   	    		for (let i = 0; i < this.players_sorted.length; i++) {
   	    			this.players_sorted[i].ranking = i+1;
   	    		}
		    }, 
		    update_player_history: function(){
		    	let header_html= '<div>'+this.filter_name(this.player_id_selected)+'</div><hr class="v-divider">';
		    	let body_html= '<div class="layout row wrap"><div class="flex xs9">VS</div><div class="flex xs3">Result</div>';
		    	
		    	for (let i = this.vs_matches.length - 1; i >= 0; i--) {
		    		body_html+= '<div class="flex xs3">'+this.vs_matches[i].created_at.slice(0,10)+'</div><div class="flex xs6">'+this.filter_name(this.vs_matches[i].vs)+'</div>'+this.filter_result(this.vs_matches[i].result);
		    	}
		    	//Vue.set(this.lateral_panel.player_history, text, {a:'hola'});
		    	this.lateral_panel.player_history.text = header_html+body_html;
		    	console.log(this.lateral_panel.player_history.text);
		    },
		    filter_result:function(result){
		    	let result_html = '';
		    	if (result == 1 ) //win
		    		result_html = '<div class="flex xs3 success--text">Win</div>';
		    	else { //loose
		    		result_html = '<div class="flex xs3 error--text">Lose</div>';
		    	}
		    	return result_html;
		    },
		    filter_name:function(name) {
		    	if (name.length > 22){
		    		return name.slice(0, 22) + "..";
		    	} else { 
		    		return name;
				};
		    },
		    show_zombies: function(){
		    	console.log('aaarrgghh');
		    	this.zombie_class = 'show-zombie';
		    },
		    hide_zombies: function () {
		    	this.zombie_class = 'show-mini-zombie';
		    }




		}
	});

</script>
</body>
</html>